{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div id="home">
    <h1 class="covid">COVID-19</h1>
    <h5 id ="v" class="covid">(Italy)</h5>
    <p class="homepara">Coronaviruses are a large family of viruses which may cause illness in animals or humans. In humans, several
        coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases
        such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently
        discovered coronavirus causes coronavirus disease COVID-19 </p>
</div>

{% endblock %}